.skillsCont {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.skillCard {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #393939;
    border: 1px solid;
    border-image: linear-gradient(120deg, rgb(0, 0, 0), rgba(255, 255, 255, 0)) 1 / round;
    
}

.skillCard img {
    max-width: 150px;
    max-height: 100px;
    margin: 0 5px;
}

@media only screen and (max-width: 800px) {
    .skillsCont {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
    .skillCard {
        margin: 5% 0;
    }
}
